/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color:#101240;
}

/*
 ~Longform~
margin-top: 40px;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 15px;

~Shorthand T | R | B | L~
margin:40px 10px 30px 15px;

~Shorthand~
margin:40px;

~Two Value Shorhand Top/Bottom | Left/Right~
margin:40px auto;

*/
main{
  background-color:#ffffff;
  width:80vw;
  max-width:1140px;
  margin:40px auto;
}
*/
main{
  background-color:#ffffff;
  width:80vw;
  max-width:1140px;
  margin:40px auto;
  border:2px solid #0096a6;
  border-radius:4px;
}

header {
  background-color:#8FBDD9;
  padding:20px;
} background-image: url("../img/bg_1.png")
background-repeat: no-repeat;
background-size:cover;
}