* {
  box-sizing: inherit;
}

body {
  background-color: black;
}

main {
  background-color: black;
  background: url("https://cloudfront-us-east-2.images.arcpublishing.com/reuters/23CYEXZXJZOPRCKNYINRFJLGAE.jpg") no-repeat center center;
  background-size: cover;
  background-position-y: -66px;
  max-width: 100%;
  height: 625px;
  margin: none;
  display: flex;
  overflow-x: visible;
}

.pagecontainer {
  background-color: #000000;
  background-image: url("../images/wp3213874.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100%;
  margin: 5px;
}

header.primary {
  background-image: url(../images/moonlanding-header.jpg);
  background-repeat: no-repeat;
  padding: 5px;
  height: 270px;
  background-size: 100%;


}

header.primary .hgroup {
  width: 100%;
  height: 250;
}
.hgroup h1, .hgroup h2{
  margin:0;
}
.hgroup h1 {
 color: #ffffff;
 font-family: 'Kanit', sans-serif;
  text-shadow: 1px 1px #000000;
  font-size: 1.5rem;
  text-decoration: none;

}
  font-family: 'Kanit', sans-serif;
.hgroup h2 {
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
  text-shadow: 1px 1px #000000;
  font-size: 1rem;
}

.content_txt {
  color: #f5f8fa;
  font-family: 'Kanit', sans-serif;
  text-shadow: 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c;
  font-size: 18px;
  font-weight: 100px;
 

}

.discover {
  color: #f5f8fa;
  background-color: rgb(8, 8, 8, 0.70);
  border: 4px solid darkred;
  border-radius: 22px;
  padding: 3px 2px 1px 1px;
  width: 70px;
  margin: 5px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  text-shadow: -1.5px 0px 0px #111010, 1px 0px 0px #0c0c0c, 1.5px 0px 0px #0c0c0c;
  position: relative;
  cursor: pointer;


}

.discover:hover {
  transform: scale(1.2);
}

a:link {
  text-decoration: none;

}


.card__text-sm {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-shadow: 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c;
  font-size: 10px;
  margin: 0;
  padding: 16px 0 8px;
  position: relative;
}


.card__text-sm::before {

  background: #fff;
  height: 155px;
  width: 16px;
  position: absolute;
  top: 0;
}

.card__text-lg {
  color: #f5f8fa;
  text-shadow: 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  margin: 0;

}

.card-lg__container {
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__text-md {
  color: #f9f9fd;
  font-family: 'Kanit', sans-serif;
  text-shadow: 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c, 1px 0px 0px #0c0c0c;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 32px 0 0;

}

.card__text-sm {
  font-size: 14px;
}

.card__text-sm::before {
  width: 44px;
  height: 2px;
}

.card-sm__container {
  height: 232px;
  margin: 0 -88px 0 0;
  display: flex;
  align-self: flex-end;
}

.card-sm {
  background: #0c0c0c;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3),
    0 16px 8px -8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 25%;
  height: calc(100% - 64px);
  margin: 0 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease;

}

#dragon {
  background-position: -207px;

}

#capsule {
  background-position: -100px;
}

#cockpit {
  background-position: -60px;
}

#future {
  background-position: -169px;
}

.card-sm:hover {
  margin: -8px 8px 0;
}

.card__text-sm {
  opacity: 0.8;
}


.main::-webkit-scrollbar {
  display: none;

}

.main {
  -ms-overflow-style: none;

}


@media screen and (max-width: 1360px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 625px;
    width: 100%;
    transform: scale(1);
  }

  section.card-lg__container {

    padding: 0 0 65px;

  }

  section.card-sm__container {
    align-self: center;
    margin: 0 -72px 0 0;

  }

  .card-sm:hover {
    margin: 8px 0;
    transform: scale(.9);

  }
}

@media screen and (max-width: 725px) {
  main {
    padding: 15px 32px 15;
  }

  section.card-sm__container {
    height: unset;
    width: 85%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #dragon {

    background-position: center;
  }


  #capsule {
    background-position: top left;
  }

  #cockpit {
    background-position: center;
  }

  #future {
    background-position: center;
  }

  section.card-sm {
    width: calc(100% - 32px);
    height: 150px;
    margin: 0 0 10px;
  }

  .card-sm:hover {
    margin: 8px 0;
    transform: scale(0.9);
  }
}

body {
  background: #111;
}

div.container-footer.w-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-bottom: 40px;
  padding-top: 70px;
}

div.container-footer.w-container:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.container-footer.w-container:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

div.w-row:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

img.spacex-logo-image {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  max-width: 100%;
  vertical-align: middle;
}

h3.footer-name {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 24px;
}

p.footer-description {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

br {
  box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 58.3333%;
}

h3.footer-titles {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 24px;
}

p.footer-links {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: .5px;
  line-height: 1.8em;
  margin-bottom: 16px;
  margin-top: 2px;
}

a {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

span.footer-link {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

span.footer-link:hover {
  color: #FFFFFF;
  font-weight: 400;
}

span {
  box-sizing: border-box;
}

strong {
  box-sizing: border-box;
  font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  margin-right: 8px;
  margin-top: 10px;
  max-width: 100%;
  opacity: .8;
  text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
  outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
  opacity: 1;
  outline: 0;
}

img {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

p.footer-description {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1em;
  margin-bottom: 16px;
  margin-top: 15px;
}

strong.link-email-footer {
  box-sizing: border-box;
  font-weight: 700;
}